name: GitHub Pages

on:
  push:
    branches: ["main"]
    paths: ["docs/**", ".github/workflows/gh-pages.yml"]
  pull_request:
    branches: ["main"]
    paths: ["docs/**", ".github/workflows/gh-pages.yml"]

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one run at a time. Skip queued runs. Let existing run finish.
concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash
    working-directory: docs

jobs:
  build:
    if: github.repository == 'google/oss-rebuild' # Only run in the upstream repo
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.152.2
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Install Hugo
        run: |
          HUGO_DIR="${HOME}/.local/hugo"
          mkdir -p "${HUGO_DIR}"
          curl -sL "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz" \
            | tar -xz -C "${HUGO_DIR}"
          echo "${HUGO_DIR}" >> "${GITHUB_PATH}"
      - name: Build the site
        run: |
          hugo --gc --minify
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/public
  deploy:
    # Only run on push, and in the upstream repo
    if: >
      github.event_name == 'push'
      && github.repository == 'google/oss-rebuild'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
