name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go ${{matrix.go-version}}
        uses: actions/setup-go@v5
        with:
          go-version: ${{matrix.go-version}}

      - name: Build
        run: go run ./ci -v build

      - name: Test
        run: go run ./ci -v test

      - name: Lint
        run: go run ./ci -v lint

      - name: Check formatting
        run: go run ./ci -v fmt-check

      - name: Check imports
        run: go run ./ci -v imports-check

      - name: Check license headers
        run: go run ./ci -v license-check
