<!DOCTYPE html>
<!--
 Copyright 2026 Google LLC
 SPDX-License-Identifier: Apache-2.0
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS Rebuild Dashboard</title>
    <!-- webfonts -->
    <link rel="stylesheet" href="/theme.css">
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/resources">Resources</a>
    </nav>
    <h1>OSS Rebuild Dashboard</h1>
